<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Note">

	<select id="getNoteByUserId" parameterType="int" resultType="Note">
		SELECT * FROM notes where userid=#{id}
	</select>

    <select id="getTest" parameterType="Sms" resultType="Sms">
        SELECT * FROM test where Address=#{Address} and fromUser=#{fromUser} and strBody=#{strBody} and strDate=#{strDate} and strType=#{strType}
    </select>
    
	<insert id="insertNoteByUserId" parameterType="list">
		<selectKey resultType="int" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into notes
		(title,content,time,isclock,clocktime,category,userid) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.title},#{item.content},#{item.time},#{item.isclock},#{item.clocktime},#{item.category},#{item.userid})
		</foreach>
	</insert>

    <insert id="insertTest" parameterType="Sms">
        insert into test(Address,fromUser,strBody,strDate,strType) values (#{Address},#{fromUser},#{strBody},#{strDate},#{strType})
    </insert>
    
    <insert id="insertTestList" parameterType="string">
        insert into test(strBody) values (#{list})
    </insert>
    
	<delete id="remove" parameterType="int">
		delete from notes where userid=#{userid}
	</delete>

</mapper>
